ul#navigation li.external:hover .icon, ul#navigation li.currentmenu .icon{
	color: #FF8C00;
}
.ul-boxed li {
	border-left-color:#FF8C00;
}
ul.ul-card li .dy .year {
	background-color: #FF8C00;
}
ul.ul-dates div.dates span {
	background-color: #FF8C00;
}
ul.timeline li .date {
	background: #FF8C00;
}
ul.timeline li .data {
	border-left-color: #FF8C00;
}
.ul-withdetails li .imageoverlay {
	background: #FF8C00;
}
.cd-active.cd-dropdown > span {
	color: #FF8C00;
}
.cd-active.cd-dropdown ul li span:hover {
	background: #FF8C00;
}
.pitems .pubmain .pubassets {
	border-top-color:#FF8C00; 
}
.pitems .pubmain .pubassets a:hover,.pitems .pubmain .pubassets a:focus,.pitems .pubmain .pubassets a.pubcollapse {
	background: #FF8C00;
}
.contact-office .icon-huge, .contact-lab .icon-huge {
	color: #FF8C00;
}

/* socpndary color 
**************************************************/
ul.ul-card li .dy .degree {
	background-color: #FFD700;
}
ul.ul-dates div.dates span:last-child {
	background-color: #FFD700;
}
ul.timeline li.open .circle {
	background-color: #FFD700;
}
ul.timeline li.open .data {
	border-color: #FFD700;
}
#labp-heads-wrap {
	background-color: #FFD700;
}
#labp-heads-wrap:after{
	border-top-color: #FFD700;
}

a:hover,
a:focus {
  color: #FF8C00;
}


a.post-link:link{
    color: #FF8C00;
}
a.post-link:visited {
  color: #FF8C00;
}
a.post-link:hover{
  color: #272727;
  text-decoration: underline;
}
a.post-link:focus {
  color: #272727;
  text-decoration: underline;
}








